<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758235124988-0aldsfb2qcn1rvhmtkag1pe7d92825n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758235124988-0aldsfb2qcn1rvhmtkag1pe7d92825n2</string>
	<key>API_KEY</key>
	<string>AIzaSyCqRsYMRsbbq-XJeX5Vgj_WcQ0sTFpW7Io</string>
	<key>GCM_SENDER_ID</key>
	<string>758235124988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-ae6c7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ae6c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758235124988:ios:c17856fa3bf1b9e7313379</string>
</dict>
</plist>